html,body {
	background: url('media/dom_ui/bg_repeat.jpg') repeat;
	color: #fff;
  font-family: helvetica, arial, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 12px;
	cursor: url("media/dom_ui/swordcursor_default.png"), default;
}

.load {
	position: absolute;
  left:0;
  top: 0;
}

#fantasytd-wrapper {
  background: url("media/dom_ui/wrapper_bg.png") no-repeat;
  height: 660;
  width: 1210px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -345px;
  margin-left: -600px;

}

/* LEFT SIDE COLUMN */

#fantasytd-wrapper .left-side {
  height: 660px;
  width: 300px;
  float: left;
  margin-left: 10px;
}

/* Logo */

.left-side .logo {
  background: url("media/dom_ui/logo.png") no-repeat;
  height: 100px;
  width: 300px;
  margin: 0 0 0 0;
}

/* Wave info */

.left-side .wave-info {
  margin: 10px 0 0 0;
  height: 50px;
  width: 300px;

}

.wave-info .current {
  height: 25px;
  width: 300px;
  background: url("media/dom_ui/current_wave.png") no-repeat;
  float: left;
}
.wave-info .current p {
  margin: 5px 0 0 105px;
  line-height: 1.5em;
}

.wave-info .next {
  height: 25px;
  width: 300px;
  background: url("media/dom_ui/next_wave.png") no-repeat;
  float: left;
}

.wave-info .next p {
  margin: 5px 0 0 85px;
  line-height: 1.5em;
}

/* Entity information box */

.entity-info {
  height: 260px;
  width: 300px;
  margin: 10px 0 0 0;
  background: url("media/dom_ui/entity_info.png") no-repeat;
  float: left;
  font-size: 13px;
  line-height: 3.8em;
  font-weight: bold;
}

.entity-info .tower-select,
.entity-info .creep-select {
  display: none;
}

.entity-info .left {
  float: left;
  margin: 33px 0 0 0;
  height: 190px;
  width: 150px;
  text-align: center;
}

.entity-info .right {
  float: left;
  margin: 33px 0 0 0;
  height: 190px;
  width: 150px;
  text-align: center;
}

.entity-info .right .value {
  height: 20px;
  width: 150px;
}

.entity-info .bottom {
  float: left;
  height: 29px;
  width: 218px;
  padding: 2px 0 0 43px;
}

.entity-info a.sell {
  width: 104px;
  height: 29px;
  background: url("media/dom_ui/sell_button.png") no-repeat;
  float: left;
}

.entity-info a.sell:hover {
  background: url("media/dom_ui/sell_button_hover.png") no-repeat;
}

.entity-info a.sell:active {
  background: url("media/dom_ui/sell_button_pressed.png") no-repeat;
}

.entity-info a.upgrade {
  width: 104px;
  height: 29px;
  margin-left: 5px;
  background: url("media/dom_ui/upgrade_button.png") no-repeat;
  float: left;
}

.entity-info a.sell:hover {
  background: url("media/dom_ui/sell_button_hover.png") no-repeat;
}

.entity-info a.sell:active {
  background: url("media/dom_ui/sell_button_pressed.png") no-repeat;
}

.entity-info a.upgrade {
  width: 104px;
  height: 29px;
  margin-left: 5px;
  background: url("media/dom_ui/upgrade_button.png") no-repeat;
  float: left;
}

.entity-info a.upgrade:hover {
  background: url("media/dom_ui/upgrade_button_hover.png") no-repeat;
}

.entity-info a.upgrade:active {
  background: url("media/dom_ui/upgrade_button_pressed.png") no-repeat;
}
/* Chat form */

.left-side .chat {
  height: 212px;
  width: 300px;
  margin: 10px 0 0 0;
  background: url("media/dom_ui/chatter.png") no-repeat;
  float: left;
}

.chat .received {
  margin: 9px 0 0 9px;
  height: 160px;
  width: 275px;
  overflow-y: scroll;
  float: left;
  background-color: #e4e4e4;
  color: #000000;
  border: 1px solid #30414b;
  padding: 5px 0 0 5px;
}


.chat .output {
  margin: 1px 0 0 9px;
  height: 22px;
  width: 200px;
  float: left;
  background-color: #e4e4e4;
  color: #000000;
  border: 1px solid #30414b;
}
.chat .message-container {
  width: 265px;
  height: auto;
  word-wrap: break-word;
}
.chat .message-container .author {
  width: auto;
  height: 15px;
}
.chat .message-container .message {
  color: #000000;
}

.chat .message-container .color-game-server .message {
  color: #b30d0d;
}

.chat .message-container.color-0 {
  color: #ea5050;
}
.chat .message-container.color-1 {
  color: #51b3ff;
}
.chat .message-container.color-2 {
  color: #55ba4a;
}
.chat .message-container.color-3 {
  color: #decf25;
}
.chat .message-container.color-4 {
  color: #a18147;
}
.chat .message-container.color-5 {
  color: #be69c8;
}
.chat .message-container.color-6 {
  color: #f29208;
}
.chat .message-container.color-7 {
  color: #38c6c6;
}

.chat .send {
  margin: 1px 0 0 1px;
  height: 26px;
  width: 77px;
  float: left;
  background-color: #e4e4e4;
  border: 1px solid #30414b;
}

.chat .send:hover {
  margin: 1px 0 0 1px;
  height: 26px;
  width: 77px;
  float: left;
  background-color: #FFF;
  border: 1px solid #FFF;
  cursor: pointer;
}

.chat .send:active {
  margin: 1px 0 0 1px;
  height: 26px;
  width: 77px;
  float: left;
  background-color: #FFF;
  border: 1px solid #FFF;
  cursor: pointer;
}

/* RIGHT SIDE COLUMN */

#fantasytd-wrapper .right-side {
  height: 660px;
  width: 900px;
  float: left;
  position: relative;
}
  
#canvas {
  height: 480px;
  width: 880px;
  margin-top: 10px;
  margin-left: 9px;
  border: 1px solid #2a333d;
  background: url('media/dom_ui/bg_repeat.jpg') repeat;
  z-index: 1;
  display: block;
}

.right-side .player-related {
  height: 160px;
  width: 900px;
}

/* Overlay */

.right-side .overlay {
  top: 11px;
  left: 10px;
  height: 482px;
  width: 882px;
  z-index: 2;
  position: absolute;
  display: block;
  background: url('media/dom_ui/overlay_bg.png') no-repeat;
}

.right-side .overlay .players {
  vertical-align:middle;
  display:table-cell;
  width: 400px;
  height:480px;
}

.right-side .overlay .player {
  background: black;
  width: 400px;
  height: 50px;
  float: left;
  margin: 0 0 0 20px;
  display: none;
  background: url('media/dom_ui/player_loading_bg.png') no-repeat;
}

.right-side .overlay .player .state {
  float: left;
  text-align: center;
  font-size: 50px;
  line-height: 1em;
  width: 50px;
  height: 50px;
}

.right-side .overlay .player .name {
  float: left;
  font-size: 20px;
  line-height: 1.5em;
  width: 340px;
  height: 50px;
  margin: 10px 0 0 10px;
}

.right-side .overlay .player .state.ready {
  color: #7fdb66;
}

.right-side .overlay .player .color {
}

.right-side .overlay .game {
  vertical-align:middle;
  display:table-cell;
  width: 420px;
  height: 480px;
}

.right-side .overlay .game .info {
  margin: 0 0 0 20px;
  width: 400px;
  height: 160px;
  background: url('media/dom_ui/game_info_overlay.png') no-repeat;
  font-size: 20px;
  line-height: 1.3em;
  padding: 80px 0 0 35px;
}

.right-side .overlay .game .info span {
  color: #ecc488;
}

.right-side .overlay .game .image {
  margin: 20px 0 0 20px;
  width: 400px;
  height: 145px;
  background: url('media/dom_ui/game_map_overlay.png') no-repeat;
}

/* Rotation Animation of State */
@-moz-keyframes rotating {
  from{
    -moz-transform: rotate(0deg);
  }
  to{
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotating {
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
  }
}
@-o-keyframes rotating {
  from{
    -o-transform: rotate(0deg);
  }
  to{
    -o-transform: rotate(360deg);
  }
}
@-ms-keyframes rotating {
  from{
    -ms-transform: rotate(0deg);
  }
  to{
    -ms-transform: rotate(360deg);
  }
}
.rotating {
    -moz-animation: rotating 2s linear infinite;
    -webkit-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
}

/* Tower deck */

.player-related .tower-deck {
  height: 150px;
  width: 400px;
  margin: 10px 0 0 10px;
  background: url("media/dom_ui/tower_deck.png") no-repeat;
  float: left;
}

.tower-deck .tower {
  margin: 30px 0 0 8px;
  height: 110px;
  width: 57px;
  float: left;
}

.tower .tower-icon {
  width: 40px;
  height: 80px;
  text-align: center;
  display: table;
  margin: 0 auto;
}

.tower .tower-name {
  height: 40px;
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
}

img {
  border: none;
  outline: none;
}

/* Creep deck */

.creep-deck {
  height: 150px;
  width: 300px;
  margin: 10px 0 0 10px;
  background: url("media/dom_ui/creep_deck.png") no-repeat;
  float: left;
}
/* Gold and life values */

.player-related .player-stats {
  height: 150px;
  width: 160px;
  margin: 10px 0 0 10px;
  background: url("media/dom_ui/player_stats.png") no-repeat;
  float: left;
  font-size: 24px;
  font-weight: bold;
}

.player-stats .gold {
  height: 75px;
  width: 160px;
}

.gold .value {
  margin: 32px 0 0 10px;
  float: left;
  width: 75px;
  text-align: right;
}
.gold .icon {
  background: url("media/dom_ui/gold_icon.png") no-repeat;
  height: 40px;
  width: 40px;
  float: right;
  margin: 27px 35px 0 0;

}

.player-stats .life {
  height: 75px;
  width: 160px;
}

.life .value{
  margin: 30px 0 0 0;
  float: right;
  width: 75px;
  text-align: left;
}

.life .icon {
  background: url("media/dom_ui/life_icon.png") no-repeat;
  height: 40px;
  width: 40px;
  float: left;
  margin: 25px 0 0 45px;
}

/* IMGAME SCOREBOARD */

.right-side .scoreboard {
  top: 70px;
  left: 150px;
  height: 360px;
  width: 600px;
  z-index: 2;
  position: absolute;
  display: none;
  background: url("media/dom_ui/scoreboard.png") no-repeat;
  font-size: 12px;
}

.scoreboard .players {
  height: 220px;
  width: 540px;
  margin: 100px 0 0 30px;
}
.scoreboard .players .player {
  height: 20px;
  width: 540px;
  margin-top: 5px;
  display: none;
}

/* IMGAME SCOREBOARD */

.right-side .scoreboard {
  top: 70px;
  left: 150px;
  height: 360px;
  width: 600px;
  z-index: 2;
  position: absolute;
  display: none;
  background: url("media/dom_ui/scoreboard.png") no-repeat;
  font-size: 12px;
}

.scoreboard .players {
  height: 220px;
  width: 540px;
  margin: 100px 0 0 30px;
}
.scoreboard .players .player {
  height: 20px;
  width: 540px;
  margin-top: 5px;
  display: none;
}

.scoreboard .players .player .name {
  height: 20px;
  width: 195px;
  float: left;
}

.scoreboard .players .player .gold {
  height: 20px;
  width: 90px;
  float: left;
  margin-left: 20px;

}

.scoreboard .players .player .kills {
  height: 20px;
  width: 90px;
  float: left;
  margin-left: 20px;
}

.scoreboard .players .player .score {
  height: 20px;
  width: 90px;
  float: left;
  margin-left: 20px;
}