html,body {
	background: #000;
	color: #fff;
  font-family: helvetica, arial, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 12pt;
	cursor: url("media/dom_ui/swordcursor_default.png"), default;
}

.load {
	position: absolute;
  left:0;
  top: 0;
}

.game-container {
  position: relative;
  margin: 40px auto 0px auto;
  width: 960px;
  height: 640px;
  border: 3px solid #111111;
}

#canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

#deck-container {
  background: url("media/dom_ui/tower_deck_background_2.png") center;
  height: 80px;
  width: 960px;
  position: absolute;
  bottom: 0;
  left:0;
  z-index: 2;
	cursor: url("media/dom_ui/gauntletcursor_active.png"), pointer;
}

#deck-container > div {
  width: 16.6%;
  height: 100%;
  display: inline-block;
  font-size: 80%;
  background: url("media/dom_ui/tower_deck_splitter.png") left no-repeat;
}

#deck-container > div:first-child {
  background: none;
  margin-left: -15px;
} 

#deck-container > div .value-container {
  font-size: 85%;
  float: left;
  width: 29%;
  margin-top: 7px;
  margin-left: 5px;
}

#deck-container .tower-cost {
  width: 11% !important;
  padding-left: 15px;
  background: url("media/dom_ui/coin_icon.png") left no-repeat;
}
#deck-container  .tower-dmg {
  padding-left: 15px;
  width: 29% !important;
  background: url("media/dom_ui/dmg_icon.png") left no-repeat;  
}
#deck-container  .tower-speed {
  padding-left: 15px;
  width: 11% !important;
  background: url("media/dom_ui/speed_icon.png") left no-repeat; 
}
#deck-container  .tower-radius {
  padding-left: 15px;
  width: 29% !important;
  background: url("media/dom_ui/range_icon.png") left no-repeat; 
}

#deck-container > div .tower-icon {
  width: 16%;
  margin-top: 25px;
  margin-left: 30px;
}

#deck-container > div .tower-name {
  font-size: 100%;
  margin-top: 22px;
  width: 62%;
  float: right;
}

.topbar {
  position: absolute;
  left: 0;
  top: 0;
  height: 47px;
  width: 100%;
  z-index: 2;
}

.topbar .values {
  position: absolute;
  left: 0;
  top: 0;
  height: 47px;
  width: 231px;
  margin-left: 20px;
  background: url("media/dom_ui/top_information_background.png") center no-repeat;
  float: left;
  z-index: 2;
}

.topbar .values .gold {
  display: inline-block;
  margin-left: 50px;
  margin-top: 3px;
  padding-left: 15px;
  width: 80px;
  background: url("media/dom_ui/coin_icon.png") left no-repeat;
}

.topbar .values .health {
  display: inline-block;
  margin-top: 3px;
  padding-left: 15px;
  background: url("media/dom_ui/heart_icon.png") left no-repeat;
}

.topbar .current_wave {
  position: absolute;
  left: 0;
  top: 0;
  height: 47px;
  width: 231px;
  margin-left: 458px;
  background: url("media/dom_ui/top_information_background.png") center no-repeat;
  float: left;
  z-index: 2;
  font-size: 7pt;
}

.topbar .current_wave .number {
  float: left;
  margin-left: 23px;
  margin-top: 3px;
  padding-left: 27px;
  line-height: 15pt;
  width: 55px;
  font-size: 10pt;
  background: url("media/dom_ui/swordcursor_enemy.png") left no-repeat;
}

.topbar .current_wave .names {
  padding-top: 3px;
  float: left;
  padding-left: 5px;
  width: 120px;
  line-height: 8px;
}

.topbar .next_wave {
  position: absolute;
  left: 0;
  top: 0;
  height: 47px;
  width: 231px;
  margin-left: 709px;
  background: url("media/dom_ui/top_information_background.png") center no-repeat;
  float: left;
  z-index: 2;
  font-size: 7pt;
}

.topbar .next_wave .number {
  float: left;
  margin-left: 23px;
  margin-top: 3px;
  padding-left: 27px;
  line-height: 15pt;
  width: 55px;
  font-size: 10pt;
  background: url("media/dom_ui/swordcursor_enemy.png") left no-repeat;
}

.topbar .next_wave .names {
  padding-top: 3px;
  float: left;
  padding-left: 5px;
  width: 120px;
  line-height: 8px;
}
}